$--main-color-light-xl: #ffffff;
$--main-color-primary-light: #fddcc4;
$--main-color-primary: #f1cdb3;
$--main-color-light-l: #f6f6f6;
$--main-color-light-s: #fafafa;
$--main-color-dark-s: #cdcdcd;
$--main-color-dark-m: #b2b2b2;
$--main-color-dark-l: #545454;
$--main-color-dark-xl: #4c4c4c;
$--main-color-dark-2xl: #444444;
$--main-color-dark-3xl: #292929;
