body {
    margin: 0;
}

.wraper {
    display: grid;
    background-color: rgb(229, 255, 0);
    grid-template-columns: 1fr;
    row-gap: 0px;
}

section {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 80px 0;
}

.container {
    display: flex;
    width: 94%;
    margin: 0 auto 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.header {
    background-color: rgb(12, 175, 6);
}

.start_screen {
    background-color: blueviolet;
}

.about {
    background-color: white;
}

.pets {
    background-color: rgb(202, 58, 159);
}

.help {
    background-color: rgb(12, 97, 76);
}

.donation {
    background-color: rgb(172, 41, 24);
}

.footer {
    background-color: rgb(109, 8, 84);
}