@font-face {
  font-family: Georgia;
  font-weight: 400;
  font-style: normal;
  src: url(../../assets/fonts/georgia/georgia-regular.ttf);
}

@font-face {
  font-family: Georgia;
  font-weight: 700;
  src: url(../../assets/fonts/georgia/georgia-bold.ttf);
}

@font-face {
  font-family: Georgia;
  font-style: italic;
  src: url(../../assets/fonts/georgia/georgia-italic.ttf);
}

@font-face {
  font-family: Georgia;
  font-weight: 700;
  font-style: italic;
  src: url(../../assets/fonts/georgia/georgia-bold-italic.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0.01rem;
}

h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.2rem;
}

h4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.01rem;
}

h5 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.01rem;
}

p {
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  letter-spacing: 0.01rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  padding-top: 80px;
  padding-bottom: 100px;
}

/*---------------------HEADER--------------------*/
.header_start_screen_wrapper {
  background-image: url("../../assets/start-screen-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.header__container {
  padding-top: 0px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}

.header__container .header__nav {
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.header__container .header__nav .header__nav_a_white {
  font-size: 15px;
  line-height: 160%;
  color: #FAFAFA;
  text-decoration: none;
}

.header__container .header__nav .header__nav_a_white:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.header__container .header__nav .first_a {
  text-decoration: underline;
}

.header__container .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  gap: 35px;
}

.header__container .header__nav ul li {
  list-style: none;
}

.burger {
  display: none;
}

.burger div {
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
  margin: 8px 0;
}

.burger_dark {
  display: none;
}

.burger_dark div {
  width: 30px;
  height: 2px;
  background-color: #292929;
  margin: 8px 0;
}

.header_our_pets {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_our_pets .title p {
  color: #292929;
}

.header_our_pets .title h1 {
  color: #545454;
}

.header_our_pets .header__nav_a_black {
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  text-decoration: none;
}

.header_our_pets .header__nav_a_black:hover {
  text-decoration: underline;
  color: #292929;
}

.title {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.title h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
  margin-bottom: 10px;
  letter-spacing: 0.2rem;
}

.title p {
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 0.1rem;
}

/*-----------------START_SCREEN------------------*/
.start_screen__container {
  padding-top: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start_screen__container h2 {
  color: #FFFFFF;
}

.start_screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  max-width: 460px;
  margin-top: 163px;
}

.start_screen__content p {
  color: #CDCDCD;
  line-height: 160%;
  letter-spacing: 0.001rem;
}

.start-screen-puppy {
  min-width: 569px;
}

.puppy {
  width: 100%;
}

.start_screen__button {
  text-align: center;
  background-color: #F1CDB3;
  border: none;
  border-radius: 999px;
  padding: 15px 45px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0.1rem;
  color: #292929;
  text-decoration: none;
}

.start_screen__button:hover {
  background-color: #FDDCC4;
}

/*--------------------ABOUT----------------------*/
.about {
  background-color: #FFFFFF;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 120px;
}

.about__container h3 {
  color: #545454;
}

.about__content {
  max-width: 430px;
}

.about__content_p {
  font-size: 15px;
  color: #4C4C4C;
  margin-top: 25px;
}

/*------------------PETS---------------------*/
.pets {
  background-color: #F6F6F6;
}

.pets h3 {
  text-align: center;
  color: #545454;
}

.pets p {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
}

.pets__container {
  text-align: center;
}

.pets_scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.4%;
  margin: 60px 0;
}

.pets_scroller .pets_scroller__button {
  min-height: 52px;
  min-width: 52px;
  border: 2px solid #FDDCC4;
  background-color: #F6F6F6;
  border-radius: 999px;
  text-decoration: none;
}

.pets_scroller .pets_scroller__button:hover {
  background-color: #FDDCC4;
}

.cards_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9%;
  width: 100%;
}

.cards_box {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px 40px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 270px;
  padding-bottom: 30px;
  /*border: 2px solid $--main-color-primary;*/
  border-radius: 9px 9px 0 0;
  background-color: #FAFAFA;
  text-decoration: none;
}

.card .card__button {
  padding: 0.68em 2.045em;
  border: 2px solid #FDDCC4;
  border-radius: 999px;
  background-color: #FAFAFA;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.1rem;
}

.card img {
  width: 100%;
}

.card:hover {
  background-color: #FFFFFF;
}

.card:hover .card__button {
  background-color: #FDDCC4;
}

.pets__button {
  display: inline-block;
  background-color: #F1CDB3;
  border: none;
  border-radius: 999px;
  padding: 15px 45px;
}

.pets__button a {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.pets__button:hover {
  background-color: #FDDCC4;
}

/*---------------------HELP----------------------*/
.help {
  background-color: #FFFFFF;
}

.help h3 {
  text-align: center;
  color: #545454;
}

.help h4 {
  color: #545454;
  margin-top: 30px;
}

.help__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 55px 130px;
}

.help__list_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 113px;
  text-align: center;
  /*border: 2px solid $--main-color-primary;*/
}

.help__list_card h4 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06rem;
}

/*-------------------DONATION--------------------*/
.donation {
  background-color: #F6F6F6;
}

.donation p {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01rem;
  color: #B2B2B2;
}

.donation h3 {
  color: #545454;
}

.donation h4 {
  color: #545454;
}

.donation h5 {
  color: #545454;
}

.donation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.donation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  max-width: 380px;
  gap: 20px;
}

.donation__content h5 {
  letter-spacing: 0.1rem;
}

.donation__dog_img {
  max-width: 100%;
}

.donation__content_credit_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 10px 15px;
  background-color: #F1CDB3;
  border: none;
  border-radius: 9px;
  text-decoration: none;
}

.donation__content_credit_card h4 {
  letter-spacing: 0.1rem;
}

/*-------------------FOOTER----------------------*/
.footer {
  background-image: url("../../assets/start-screen-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer h3 {
  color: #FFFFFF;
}

.footer h4 {
  color: #F1CDB3;
}

.footer__container {
  padding-top: 40px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 59%;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 40px;
  min-height: 234px;
  margin-top: 16px;
  /*border: 2px solid $--main-color-primary;*/
}

.footer__content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  text-decoration: none;
}

.footer__puppy {
  max-width: 300px;
}

.footer__puppy_img {
  width: 100%;
}

/*--------------------PETS-----------------------*/
.pets .navigation_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.pets .navigation_button button {
  min-height: 52px;
  min-width: 52px;
  border-radius: 999px;
  text-decoration: none;
  text-align: center;
}

.pets .navigation_button_active {
  border: 2px solid #FDDCC4;
  background-color: #F6F6F6;
}

.pets .navigation_button_active:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.pets .navigation_button_inactive {
  border: 2px solid #CDCDCD;
  background-color: none;
}

/*----------------------MIN_WIDTH--------------------------------
    ---------------------------------------------------------------*/
@media only screen and (max-width: 319px) {
  body {
    min-width: 1280px;
  }
}

/*----------------------320px-749px-------------------------
     ---------------------------------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 749px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 42px;
    padding-bottom: 42px;
  }
  h2 {
    font-size: 25px;
    text-align: center;
  }
  h3 {
    font-size: 25px;
    text-align: center;
  }
  /*---------------------HEADER--------------------*/
  .header__container {
    padding-top: 30px;
    padding-bottom: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_our_pets {
    padding-bottom: 25px;
  }
  .header nav {
    display: none;
  }
  .burger {
    display: block;
    margin-right: 43px;
  }
  .burger_dark {
    display: block;
    margin-right: 43px;
  }
  /*------------------START_SCREEN-----------------*/
  .start_screen__container {
    padding-bottom: 0px;
    padding-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .start_screen__content {
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 42px;
  }
  .start-screen-puppy {
    max-width: 569px;
    min-width: 230px;
    margin-left: 40px;
    margin-top: 105px;
  }
  /*---------------------ABOUT---------------------*/
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 42px;
  }
  .about__content {
    font-size: 15px;
    margin: 0px 15px 0 15px;
  }
  .about-pets {
    max-width: 260px;
  }
  /*---------------------PETS----------------------*/
  .card {
    width: 100%;
    margin: 0 auto 0 auto;
  }
  .help__list {
    gap: 50px 0;
  }
  .card__second_item {
    display: none;
  }
  .card__third_item {
    display: none;
  }
  .pets__container_box {
    padding-top: 165px;
  }
  .pets_scroller {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0 80px;
    margin: 42px 0;
  }
  .cards_box {
    margin: 42px 0 60px 0;
  }
  .pets_scroller__button {
    margin-top: 20px;
  }
  .cards_wrapper {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
  }
  .cards_box__4_item {
    display: none;
  }
  .cards_box__5_item {
    display: none;
  }
  .cards_box__6_item {
    display: none;
  }
  .cards_box__7_item {
    display: none;
  }
  .cards_box__8_item {
    display: none;
  }
  /*---------------------HELP----------------------*/
  .help h4 {
    margin-top: 20px;
    font-size: 20px;
  }
  .help__container {
    gap: 42px;
  }
  .help__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 30px 0;
  }
  .help__list_card {
    width: 50%;
  }
  /*------------------DONATION---------------------*/
  .donation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 42px;
  }
  .donation__container h5 {
    text-align: center;
    letter-spacing: 0.01rem;
    line-height: 160%;
  }
  .donation__container h4 {
    font-size: 15px;
  }
  .donation__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    letter-spacing: 0.01rem;
  }
  .donation__dog {
    margin: 0 20px;
  }
  /*-------------------FOOTER----------------------*/
  .footer__container {
    padding-top: 30px;
    padding-bottom: 0px;
    display: block;
    text-align: center;
  }
  .footer__container h4 {
    font-size: 20px;
  }
  .footer__content_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 11px;
    width: 100%;
  }
  .footer__content {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .footer__puppy {
    margin-top: 40px;
    padding: 0 20px;
    margin: 40px auto 0 auto;
  }
  .pets .navigation_button {
    gap: 10px;
  }
  .navigation_button {
    margin-top: -15px;
  }
}

/*----------------------750px-1023px-------------------------
    ---------------------------------------------------------------*/
@media only screen and (max-width: 1023px) and (min-width: 750px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  /*---------------------HEADER--------------------*/
  .header__container {
    padding-top: 30px;
  }
  /*------------------START_SCREEN-----------------*/
  .start_screen__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .start_screen__content {
    margin-top: 0;
    margin-bottom: 100px;
  }
  .start_screen__button {
    margin-left: 128px;
  }
  .start-screen-puppy {
    max-width: 569px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  /*---------------------PETS----------------------*/
  .cards_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card__third_item {
    display: none;
  }
  .pets_scroller {
    gap: 0;
  }
  .cards_box {
    margin: 30px 0;
  }
  .pets__container_box {
    padding-bottom: 75px;
  }
  .cards_box__7_item {
    display: none;
  }
  .cards_box__8_item {
    display: none;
  }
  .navigation_button {
    margin-top: 50px;
  }
  /*---------------------ABOUT---------------------*/
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
  }
  /*---------------------HELP----------------------*/
  .help__list_card {
    width: 30%;
  }
  .help__list {
    gap: 50px 0;
  }
  /*------------------DONATION---------------------*/
  .donation__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 60px;
  }
  /*----------------_--FOOTER----------------------*/
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 52px 0;
    padding-top: 10px;
  }
  .footer__content_wrapper {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/*----------------------750px-1023px-------------------------
    ---------------------------------------------------------------*/
@media only screen and (max-width: 1140px) and (min-width: 1023px) {
  .help__list_card {
    width: 20%;
  }
  .help__list {
    gap: 50px 0;
  }
}
/*# sourceMappingURL=style.css.map */