:root {
    --main-color-light-xl: #FFFFFF;
    --main-color-primary-light: #FDDCC4;
    --main-color-primary: #F1CDB3;
    --main-color-light-l: #F6F6F6;
    --main-color-light-s: #FAFAFA;
    --main-color-dark-s: #CDCDCD;
    --main-color-dark-m: #B2B2B2;
    --main-color-dark-l: #545454;
    --main-color-dark-xl: #4C4C4C;
    --main-color-dark-2xl: #444444;
    --main-color-dark-3xl: #292929;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--main-color-light-xl);
}

h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: var(--main-color-dark-l);
}

footer h3 {
    color: var(--main-color-light-xl);
}

a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--main-color-dark-s);
}

p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--main-color-dark-s);
}

.about p {
    color: var(--main-color-dark-xl);
}

.help p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: var(--main-color-dark-l);
}

.wrapper {
    display: grid;
    background-color: var(--main-color-dark-s);
    grid-template-columns: 1fr;
    row-gap: 0px;
}

section {
    max-width: 1280px;
    margin: 0 auto 0 auto;
    padding: 80px 0;
}

.container {
    display: flex;
    align-items: center;
    width: 94%;
    margin: 0 auto 0 auto;
    border: 2px solid var(--main-color-primary);
}

header .container {
    display: flex;
    justify-content: space-between;
}

header nav {
    max-width: 500px;
    width: 100%;
}

header nav ul,
footer nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

header nav ul li,
footer nav ul li {
    list-style: none;
}

.header_start_screen {
    padding: 60px 0 0 0;
    background-image: url("../../assets/start-screen-background.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.start_screen {
    background-size: cover;
    padding: 0;
}

.start_screen .container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.start_screen_content {
    max-width: 460px;
}

.about {
    background-color: var(--main-color-light-xl);
}

.about .container {
    justify-content: center;
    gap: 120px;
}

.about_content {
    max-width: 430px;
}

.pets {
    background-color: var(--main-color-light-l);
}

.pets .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}

.pets_scroller {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.card {
    display: block;
    height: 435px;
    width: 270px;
    border: 2px solid var(--main-color-primary);
}

.scroller_button {
    display: block;
    height: 52px;
    width: 52px;
    border: 2px solid var(--main-color-primary);
}

.help {
    background-color: var(--main-color-light-xl);
}

.help .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.help_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
}

.help_card {
    width: 160px;
    height: 113px;
    text-align: center;
    border: 2px solid var(--main-color-primary);
}

.donation {
    background-color: var(--main-color-light-l);
}

.donation .container {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.donation_content {
    width: 380px;
}

.footer {
    padding: 40px 0 0 0;
    background-image: url("../../assets/start-screen-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.footer_content {
    width: 302px;
    height: 234px;
    border: 2px solid var(--main-color-primary);
}