$--main-color-light-xl: #FFFFFF;
$--main-color-primary-light: #FDDCC4;
$--main-color-primary: #F1CDB3;
$--main-color-light-l: #F6F6F6;
$--main-color-light-s: #FAFAFA;
$--main-color-dark-s: #CDCDCD;
$--main-color-dark-m: #B2B2B2;
$--main-color-dark-l: #545454;
$--main-color-dark-xl: #4C4C4C;
$--main-color-dark-2xl: #444444;
$--main-color-dark-3xl: #292929;
@font-face {
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    src: url(../../assets/fonts/georgia/georgia-regular.ttf);
}

@font-face {
    font-family: Georgia;
    font-weight: 700;
    src: url(../../assets/fonts/georgia/georgia-bold.ttf);
}

@font-face {
    font-family: Georgia;
    font-style: italic;
    src: url(../../assets/fonts/georgia/georgia-italic.ttf);
}

@font-face {
    font-family: Georgia;
    font-weight: 700;
    font-style: italic;
    src: url(../../assets/fonts/georgia/georgia-bold-italic.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0.01rem;
}

h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.2rem;
}

h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.01rem;
}

h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.01rem;
}

p {
    font-size: 15px;
    line-height: 160%;
    color: $--main-color-dark-s;
    letter-spacing: 0.01rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    padding-top: 80px;
    padding-bottom: 100px;
}


/*---------------------HEADER--------------------*/

.header_start_screen_wrapper {
    background-image: url("../../assets/start-screen-background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_fixed {
    background-color: $--main-color-light-xl;
    position: fixed;
    top: 0;
    width: 100%;
}

.header__container {
    padding-top: 0px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__nav {
        font-size: 15px;
        line-height: 160%;
        color: $--main-color-dark-s;
        .header__nav_a_white {
            font-size: 15px;
            line-height: 160%;
            color: $--main-color-dark-s;
            text-decoration: none;
            padding-bottom: 2px;
            &:hover {
                color: $--main-color-light-s;
                border-bottom: 3px solid #F1CDB3;
            }
        }
        .first_a {
            border-bottom: 3px solid #F1CDB3;
        }
        ul {
            display: flex;
            justify-content: space-between;
            padding: 0;
            gap: 35px;
            li {
                list-style: none;
            }
        }
    }
    padding-top: 60px;
    // padding-bottom: 0px;
}

.header__nav_a_black {
    font-size: 15px;
    line-height: 160%;
    color: $--main-color-dark-l;
    text-decoration: none;
    padding-bottom: 2px;
    &:hover {
        color: $--main-color-dark-3xl;
        border-bottom: 3px solid #F1CDB3;
    }
}

.burger {
    display: none;
    div {
        width: 30px;
        height: 2px;
        background-color: $--main-color-primary;
        margin: 8px 0;
    }
}

.burger_dark {
    display: none;
    div {
        width: 30px;
        height: 2px;
        background-color: $--main-color-dark-3xl;
        margin: 8px 0;
    }
}

.header_our_pets {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $--main-color-light-xl;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    .title {
        p {
            color: $--main-color-dark-3xl;
        }
        h1 {
            color: $--main-color-dark-l;
            // letter-spacing: 0.06em;
        }
    }
}

.title {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    h1 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        color: $--main-color-primary;
        margin-bottom: 10px;
        letter-spacing: 0.2rem;
    }
    p {
        font-size: 14px;
        line-height: 15px;
        color: $--main-color-light-xl;
        letter-spacing: 0.1rem;
    }
}


/*-----------------START_SCREEN------------------*/

.start_screen__container {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    h2 {
        color: $--main-color-light-xl;
    }
}

.start_screen__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: center;
    gap: 40px;
    max-width: 460px;
    margin-top: 163px;
    p {
        // margin: 42px 0;
        color: $--main-color-dark-s;
        line-height: 160%;
        letter-spacing: 0.001rem;
    }
}

.start-screen-puppy {
    //!!!
    min-width: 569px;
    // flex-shrink: 0;
}

.puppy {
    //!!!
    width: 100%;
}

.start_screen__button {
    text-align: center;
    background-color: $--main-color-primary;
    border: none;
    border-radius: 999px;
    padding: 15px 45px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.1rem;
    color: $--main-color-dark-3xl;
    text-decoration: none;
    &:hover {
        background-color: $--main-color-primary-light;
    }
}


/*--------------------ABOUT----------------------*/

.about {
    background-color: $--main-color-light-xl;
}

.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    h3 {
        color: $--main-color-dark-l;
    }
}

.about__content {
    max-width: 430px;
}

.about__content_p {
    font-size: 15px;
    color: $--main-color-dark-xl;
    margin-top: 25px;
    // letter-spacing: 0.06rem;
}


/*------------------PETS---------------------*/

.pets {
    background-color: $--main-color-light-l;
    h3 {
        text-align: center;
        color: $--main-color-dark-l;
    }
    p {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: $--main-color-dark-l;
    }
}

.pets__container {
    text-align: center;
}

.pets__scroller {
    display: flex;
    align-items: center;
    gap: 4.4%;
    margin: 60px 0;
    .pets__scroller__button {
        min-height: 52px;
        min-width: 52px;
        border: 2px solid $--main-color-primary-light;
        background-color: $--main-color-light-l;
        border-radius: 999px;
        text-decoration: none;
        &:hover {
            background-color: $--main-color-primary-light;
        }
    }
}

.carousel-wrapper {
    overflow: hidden;
    padding: 30px 0;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: calc((100% - 270*3px)/2);
}

.carousel__item {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
}

@keyframes move-right {
    from {
        left: 0;
    }
    to {
        left: +100%;
    }
}

.transition-right {
    animation-name: move-right;
    animation-duration: 1s;
}

@keyframes move-left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

.transition-left {
    animation-name: move-left;
    animation-duration: 1s;
}

.pets__container_box {
    padding-top: 200px;
}

.cards_box {
    margin: 60px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px 40px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    max-width: 270px;
    padding-bottom: 30px;
    /*border: 2px solid $--main-color-primary;*/
    border-radius: 9px 9px 0 0;
    background-color: $--main-color-light-s;
    text-decoration: none;
    .card__button {
        padding: 0.68em 2.045em;
        border: 2px solid $--main-color-primary-light;
        border-radius: 999px;
        background-color: $--main-color-light-s;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: $--main-color-dark-3xl;
        letter-spacing: 0.1rem;
    }
    img {
        // width: 100%;
    }
    &:hover {
        background-color: $--main-color-light-xl;
        transform: scale(1.05);
        box-shadow: 0px 0px 10px 5px $--main-color-dark-m;
        .card__button {
            background-color: $--main-color-primary-light;
        }
    }
}

.pets__button {
    display: inline-block;
    background-color: $--main-color-primary;
    border: none;
    border-radius: 999px;
    padding: 15px 45px;
    a {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: $--main-color-dark-3xl;
        text-decoration: none;
        letter-spacing: 0.1rem;
    }
    &:hover {
        background-color: $--main-color-primary-light;
    }
}


/*---------------------HELP----------------------*/

.help {
    background-color: $--main-color-light-xl;
    h3 {
        text-align: center;
        color: $--main-color-dark-l;
    }
    h4 {
        color: $--main-color-dark-l;
        margin-top: 30px;
    }
}

.help__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.help__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 130px; //!!!!
}

.help__list_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 20%;//!!!!
    height: 113px;
    text-align: center;
    h4 {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06rem;
    }
    /*border: 2px solid $--main-color-primary;*/
}


/*-------------------DONATION--------------------*/

.donation {
    background-color: $--main-color-light-l;
    p {
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.01rem;
        color: $--main-color-dark-m;
    }
    h3 {
        color: $--main-color-dark-l;
    }
    h4 {
        color: $--main-color-dark-l;
    }
    h5 {
        color: $--main-color-dark-l;
    }
}

.donation__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.donation__content {
    display: flex; //!!!!
    flex-direction: column;
    align-items: self-start;
    max-width: 380px;
    gap: 20px;
    h5 {
        letter-spacing: 0.1rem;
    }
}

.donation__dog_img {
    max-width: 100%;
}

.donation__content_credit_card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    background-color: $--main-color-primary;
    border: none;
    border-radius: 9px;
    text-decoration: none;
    h4 {
        letter-spacing: 0.1rem;
    }
}


/*-------------------FOOTER----------------------*/

.footer {
    background-image: url("../../assets/start-screen-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h3 {
        color: $--main-color-light-xl;
    }
    h4 {
        color: $--main-color-primary;
    }
}

.footer__container {
    padding-top: 40px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.footer__content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 59%;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    min-height: 234px;
    margin-top: 16px;
    /*border: 2px solid $--main-color-primary;*/
    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        text-decoration: none;
    }
}

.footer__puppy {
    max-width: 300px;
}

.footer__puppy_img {
    width: 100%;
}


/*--------------------PETS-----------------------*/

.pets {
    .navigation_button {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .navigation_button button {
        min-height: 52px;
        min-width: 52px;
        border-radius: 999px;
        text-decoration: none;
        text-align: center;
    }
    // .navigation_button__current_page {
    //     border: 2px solid $--main-color-primary-light;
    //     background-color: $--main-color-primary-light;
    // }
    .navigation_button_active {
        border: 2px solid $--main-color-primary-light;
        background-color: $--main-color-light-l;
        &:hover {
            cursor: pointer;
            background-color: $--main-color-primary-light;
        }
    }
    .navigation_button_inactive {
        border: 2px solid $--main-color-dark-s;
        background-color: none;
    }
}


/*----------------------MIN_WIDTH--------------------------------
    ---------------------------------------------------------------*/

@media only screen and (max-width: 319px) {
    body {
        min-width: 1280px;
    }
}


/*----------------------320px-749px-------------------------
     ---------------------------------------------------------------*/

@media screen and (min-width: 320px) and(max-width: 749px) {
    .container {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 42px;
        padding-bottom: 42px;
    }
    h2 {
        font-size: 25px;
        text-align: center;
    }
    h3 {
        font-size: 25px;
        text-align: center;
    }
    /*---------------------HEADER--------------------*/
    .header__container {
        padding-top: 30px;
        padding-bottom: 0px;
        justify-content: space-between;
    }
    .header_our_pets {
        padding-bottom: 25px;
    }
    .header nav {
        display: none;
    }
    .burger {
        display: block;
        margin-right: 43px;
    }
    .burger_dark {
        display: block;
        margin-right: 43px;
    }
    /*------------------START_SCREEN-----------------*/
    .start_screen__container {
        padding-bottom: 0px;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .start_screen__content {
        margin: 0 auto;
        align-items: center;
        text-align: center;
        gap: 42px;
    }
    .start-screen-puppy {
        max-width: 569px;
        min-width: 230px;
        margin-left: 40px;
        margin-top: 105px;
    }
    /*---------------------ABOUT---------------------*/
    .about__container {
        // display: block;
        flex-direction: column-reverse;
        // text-align: center;
        gap: 42px;
    }
    .about__content {
        font-size: 15px;
        margin: 0px 15px 0 15px;
    }
    .about-pets {
        max-width: 260px;
    }
    /*---------------------PETS----------------------*/
    .card {
        width: 100%;
        margin: 0 auto 0 auto; //!!!
    }
    .help__list {
        gap: 50px 0;
    }
    .card_second_item {
        display: none;
    }
    .card_third_item {
        display: none;
    }
    .pets__container_box {
        padding-top: 165px;
    }
    .pets__scroller {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 80px;
        margin: 42px 0
    }
    .cards_box {
        margin: 42px 0 60px 0;
    }
    .pets__scroller__button {
        margin-top: 20px;
    }
    .carousel {
        order: -1;
        width: 100%;
    }
    .cards_box__4_item {
        display: none;
    }
    .cards_box__5_item {
        display: none;
    }
    .cards_box__6_item {
        display: none;
    }
    .cards_box__7_item {
        display: none;
    }
    .cards_box__8_item {
        display: none;
    }
    /*---------------------HELP----------------------*/
    .help {
        h4 {
            margin-top: 20px;
            font-size: 20px;
        }
    }
    .help__container {
        gap: 42px;
    }
    .help__list {
        justify-content: flex-start;
        // width: 100%; //!!!!
        gap: 30px 0;
        h4 {
            font-size: 15px;
        }
    }
    .help__list_card {
        width: 50%;
        height: 85px;
    }
    .help__list_icon {
        max-width: 50px;
    }
    /*------------------DONATION---------------------*/
    .donation__container {
        flex-direction: column-reverse;
        gap: 42px;
        h5 {
            text-align: center;
            letter-spacing: 0.01rem;
            line-height: 160%;
        }
        h4 {
            font-size: 15px;
        }
    }
    .donation__content {
        justify-content: center; //!!!!!!
        align-items: center;
        gap: 20px;
        letter-spacing: 0.01rem;
    }
    .donation__dog {
        margin: 0 20px;
    }
    /*-------------------FOOTER----------------------*/
    .footer__container {
        padding-top: 30px;
        padding-bottom: 0px;
        display: block;
        text-align: center;
        h4 {
            font-size: 20px;
        }
    }
    .footer__content_wrapper {
        flex-direction: column;
        gap: 11px;
        width: 100%;
    }
    .footer__content {
        margin: 0;
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    .footer__puppy {
        margin-top: 40px;
        padding: 0 20px;
        margin: 40px auto 0 auto;
    }
    .pets .navigation_button {
        gap: 10px;
    }
    .navigation_button {
        margin-top: -15px;
    }
}


/*----------------------750px-1023px-------------------------
    ---------------------------------------------------------------*/

@media only screen and (max-width: 1023px) and (min-width: 750px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
    /*---------------------HEADER--------------------*/
    .header__container {
        padding-top: 30px;
    }
    /*------------------START_SCREEN-----------------*/
    .start_screen__container {
        flex-direction: column;
        align-items: center;
    }
    .start_screen__content {
        margin-top: 0;
        margin-bottom: 100px;
    }
    .start_screen__button {
        margin-left: 128px;
    }
    .start-screen-puppy {
        max-width: 569px; //!!!!!!
        align-self: flex-end;
    }
    /*---------------------PETS----------------------*/
    .cards_wrapper {
        justify-content: center;
        // gap: 10%;
    }
    .card_third_item {
        display: none;
    }
    .pets__scroller {
        gap: 0;
    }
    .cards_box {
        margin: 30px 0;
    }
    .pets__container_box {
        padding-bottom: 75px;
    }
    .cards_box__7_item {
        display: none;
    }
    .cards_box__8_item {
        display: none;
    }
    .navigation_button {
        margin-top: 50px;
    }
    /*---------------------ABOUT---------------------*/
    .about__container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }
    /*---------------------HELP----------------------*/
    .help__list_card {
        width: 30%;
    }
    .help__list {
        gap: 50px 0;
    }
    /*------------------DONATION---------------------*/
    .donation__container {
        flex-direction: column-reverse;
        gap: 60px;
    }
    /*----------------_--FOOTER----------------------*/
    .footer__container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 52px 0;
        padding-top: 10px;
    }
    .footer__content_wrapper {
        width: 100%;
        justify-content: space-around;
    }
}


/*----------------------750px-1023px-------------------------
    ---------------------------------------------------------------*/

@media only screen and (max-width: 1140px) and(min-width: 1023px) {
    .help__list_card {
        width: 20%;
    }
    .help__list {
        gap: 50px 0;
    }
}